@charset "utf-8";

/* 초기 설정 */

*{
margin:0;
padding:0;
list-style:none;
box-sizing:border-box;
}

body{
background:#ffffff;
color:#222328;
}

a{
text-decoration:none;
display:block;
color:#222328;
}

/******** 본문 ********/

main{
width:1200px;
margin:0 auto;
}

/* header */

header{
width:100%;
height:100px;
background:#723ffb;
display:flex;
justify-content:space-between;
align-items:center;
}

/* 로고 */

.logo{
width:20%;
display:flex;
justify-content:center;
align-items:center;
}

.logo img{
width:200px;
height:40px;
}

/* 메인메뉴 */

.mainMenu{
width:800px;
height:100%;
display:flex;
justify-content:space-between;
align-items:center;
position:relative;
}

.mainMenu>a{
width:25%;
padding:20px 0;
text-align:center;
color:#ffffff;
}

.mainMenu>a:hover{
background:rgba(255,255,255,0.1);
}

/* 서브메뉴 */

.subMenu{
width:800px;
display:flex;
justify-content:space-between;
background:#222328;
position:absolute;
right:0;
top:100px;
z-index:1;
display:none;
}

.subMenu ul{
width:25%;
}

.subMenu ul li a{
text-align:center;
padding:10px 0;
color:#723ffb;
}

.subMenu ul li a:hover{
background:rgba(255,255,255,0.1);
color:#ffffff;
}

/* 이미지 슬라이드 */
.imgSlide{
position:relative;
width:100%;
height:300px;
overflow:hidden;
}

.imgSlide a{
position:absolute;
top:0;
width:100%;
height:300px;
}

.imgSlide a:nth-child(1){
left:0;
}

.imgSlide a:nth-child(2){
left:1200px;
}

.imgSlide a:nth-child(3){
left:2400px;
}

/* 컨텐츠 */

.contents{
width:100%;
height:200px;
margin:10px 0;
display:flex;
justify-content:space-between;
position:relative;
}

.contents div{
width:33.3%;
}

.contents>div:nth-of-type(2){
margin:0 10px;
}

/* 탭 메뉴 */

.tabMenu{
display:flex;
}

.tabMenu li a{
padding:0 10px;
min-width:85px;
line-height:30px;
font-size:14px;
text-align:center;
background:#eeeeee;
border:1px solid #dddddd;
}

.tabMenu li:first-child a{
border-right:none;
}

.tabMenu li.active a{
font-weight:bold;
background:#ffffff;
}

/* 탭 콘텐츠 */

.tabBG{
position:absolute;
overflow:hidden;
height:168px;
background:#ffffff;
}

.tabMenu li.active div{
border:1px solid #dddddd;
z-index:1;
}

/* 공지사항 */

.notice ul{
padding:20px 0;
}

.notice ul li{
padding:8px 20px;
margin:0 10px;
font-size:14px;
}

.notice li:nth-child(even){
background:rgba(114,63,251,0.1);
}

.notice li:hover{
background:rgba(246,182,44,0.1);
}

.notice li span{
float:right;
}

/* 갤러리 */

.gallery{
left:0;
}

.gallery ul{
display:flex;
justify-content:space-around;
align-items:center;
height:100%;
}

.gallery li:hover{
opacity:0.5;
}

/* 배너 / 바로가기 */

.banner,
.direct{
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
}

.banner>a,
.direct>a{
width:100px;
padding:14px 0;
text-align:center;
font-weight:bold;
color:#ffffff;
background:rgba(114,63,251,0.5);
}

.banner>a:hover,
.direct>a:hover{
color:#222328;
background:rgba(255,255,255,0.5);
}

/* 배너 */

.banner{
background:url("../이미지/banner.jpg") center center;
background-size:cover;
}

/* 바로가기 */

.direct{
background:url("../이미지/direct.jpg") center center;
background-size:cover;
}

/* footer */

footer{
width:100%;
height:100px;
display:flex;
justify-content:space-between;
background:#222328;
}

footer div{
display:flex;
justify-content:center;
align-items:center;
}

footer div:nth-child(1){
width:20%;
opacity:0.2;
}

footer div:nth-child(2){
width:60%;
color:#777777;
}

footer div:nth-child(3){
width:20%;
justify-content:space-around;
}

footer div:nth-child(3) img{
border-radius:50%;
}

/* 팝업 */

#modalWrap{
display:none;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:1;
}

#modalWrap.active{
display:block;
}

.modal{
position:fixed;
width:450px;
height:250px;
padding:20px;
top:40%;
left:40%;
background:#ffffff;
}

.modal h1{
margin:10px 0;
text-align:center;
}

.modal p{
text-align:justify;
}

.btn{
width:100%;
padding:10px;
margin-top:20px;
background:#723ffb;
color:#ffffff;
border:0;
font-weight:bold;
cursor:pointer;
}

.btn:hover{
background:rgba(114,63,251,0.2);
color:#723ffb;
}